<div class="tabs is-boxed is-centered">
    <ul>
        <li class="{% if page.url === '/' %}is-active{% endif %} ">
            <a href="{{ '/'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fas fa-home"></i>
                </span>
                <span>主页</span>
            </a>
        </li>
        <li class="{% if page.url === '/about/' %}is-active{% endif %}">
            <a href="{{ '/about'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fas fa-sticky-note"></i>
                </span>
                <span>关于</span>
            </a>
        </li>
        <li class="{% if page.url === '/pat' %}is-active has-background-warning {% endif %} ">
            <a href="{{ '/pat'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fas fa-laptop-code"></i>
                </span>
                <span>PAT</span>
            </a>
        </li>
        <li class="{% if page.url === '/theory' %}is-active has-background-warning {% endif %} ">
            <a href="{{ '/theory'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fab fa-readme"></i>
                </span>
                <span>理论</span>
            </a>
        </li>
        <li class="{% if page.url === '/practice' %}is-active has-background-warning {% endif %} ">
            <a href="{{ '/practice'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fas fa-wrench"></i>
                </span>
                <span>实践</span>
            </a>
        </li>
        <li class="{% if page.url === '/theory' %}is-active has-background-warning {% endif %} ">
            <a href="{{ '/thinking'|url }}">
                <span class="icon is-small has-text-warning">
                    <i class="fas fa-lightbulb"></i>
                </span>
                <span>思考</span>
            </a>
        </li>
    </ul>
</div>