{% include "partial/header.njk" %}
{% include "partial/nav.njk" %}
<style>
    .content {
        line-height: 2rem;
    }
    h2 {
        text-align: center;
        margin: 3rem 0 !important;
        color: hsl(0, 0, 21%) !important;
    }
    h2::before {
        content: "\a7";
        padding: 10px;
        color: #ccc;
        font-size: 1.5rem;
        font-weight: 400;
    }
    h2::after {
        content: "\a7";
        padding: 10px;
        color: #ccc;
        font-size: 1.5rem;
        font-weight: 400;
    }
</style>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="content">
                    {{ content|safe }}
                </div>
            </div>
        </div>
    </div>
</section>
<script
    src="https://utteranc.es/client.js"
    repo="linshiyan1992/tech-journal"
    issue-term="title"
    theme="github-light"
    crossorigin="anonymous"
    async></script>
{% include "partial/footer.njk" %}