{% include "partial/header.njk" %}
{% include "partial/nav.njk" %}
<style>
    .content {
        line-height: 2rem;
    }
    h3 {
        text-align: center;
        margin: 3rem 0 !important;
        color: hsl(0, 0%, 21%) !important;
    }
    h3::before {
        content: "\a7";
        padding: 10px;
        color: #ccc;
        font-size: 1.5rem;
        font-weight: 400;
    }
    h3::after {
        content: "\a7";
        padding: 10px;
        color: #ccc;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .content ol {
        margin-top: 0.5rem !important;
    }
    .toc {
        position: sticky !important;
        top: 10px !important;
        right: 20px !important;
    }
    .content .number {
        display: inline;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        vertical-align: inherit;
        border-radius: inherit;
        font-weight: inherit;
        white-space: inherit;
        background: inherit;
        margin: inherit;
    }
</style>
<div class="reader-bar-start">
    <section class="section head">
        <h1 class="title is-size-2  has-text-centered">{{ title }}</h1>
        <h1 class="subtitle is-size-4 mt-2 has-text-grey has-text-centered">—— {{ subtitle }}</h1>
        <div class="tags is-centered">
            {% for tag in tags %}
                {% set name = '/'+ tag + '/' %}
                <a href="{{ name|url }}">
                    <span class="tag is-rounded is-warning">#{{ tag }}</span>
                </a>
            {% endfor %}
        </div>
    </section>
    <div class="container is-pulled-right toc is-hidden-tablet is-hidden-touch">
        {% if content | toc %}
            <aside>
                {{ content | toc| safe }}
            </aside>
        {% endif %}
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-centered is-flex-touch">
                <div class="column is-half is-five-sixths-touch">
                    <div class="content">
                        {{ content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script
        src="https://utteranc.es/client.js"
        repo="linshiyan1992/tech-journal"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async></script>
    {% include "partial/footer.njk" %}
    {% readerBar %}
</div>